body{
  margin: 0% 0%;
  padding: 0% 0%;
}
@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

html {
scroll-behavior: smooth;
background-color: #1a1a1a;

}


ul {
margin: 0;
padding: 0;
z-index: 4;
}
li {
list-style-type: none;

}
.h2 {
text-transform: uppercase;
text-align: center;
padding-top: 40px;
font-size: 3em;
}
a {
text-decoration: none;
}
/* ******************* NAVBAR ******************* */
.nav {
  overflow: hidden;
  position: fixed;
  width: 100%;
  opacity: 0.9;
  background-color: #333131;  
  z-index: 7;

}
.header ul {
  list-style-type: none;
  z-index: 7;

}
.header li {
  float: left;
  z-index: 7;

}
.nav-droite li a {
  text-decoration: none;
  display: block;
  padding: 18px 40px;
  margin-bottom: 6.5%;
  color: white ;
  font-family: sans-serif;
  font-size: 160%;
  z-index: 7;


 }
#logo {
  font-weight: bold;
  float: left;
  margin-left: 2%;
  margin-top: 0.5%;
  margin-right: 2%;
  z-index: 7;

}

.ul1 li a:hover {
  background-color: #5a5a5a;
  color: #fff;
  z-index: 7;

}


.nav-droite{
padding-top: 0.8%;
z-index: 7;

}
/* ******************* NAVBAR-burger ******************* */
.header__logo img {
max-height: 50px;
z-index: 7;

}


.header__nav__menu {
padding: 0;
margin: 0;
list-style: none;
display: flex;
z-index: 7;

}

.header__nav__menu__link {
margin-right: 20px;
z-index: 7;


}
.header__nav__menu__link h1 {
color: #fff;
margin-left: 100%;
font-size: 15px;
z-index: 7;

}
.header__nav__menu__link h3 {
color: #fff;
margin-left: 41%;
font-size: 15px;
z-index: 7;

}
.header__nav__menu__link h4 {
color: #fff;
margin-left: 49%;
z-index: 7;

font-size: 15px;
}

.sous_titre{
display: block;
}

.img_sous_texte{
position: absolute;
display: flex;
left: 25%;
margin-top: -2%;
z-index: 7;

}
.img_sous_textes{
position: absolute;
display: flex;
left: 38%;
margin-top: -1%;
top: 27.2%;
z-index: 7;

}

.header__nav__menu__link:last-of-type {
margin-right: initial;
z-index: 7;

}

.titre-nav  {
color: #fff;
font-family: 'Arial';
font-weight: 850;
z-index: 7;

text-decoration: none;
position: relative;
}

.titre-nav:after {
content: '';
height: 2px;
background-color: #fff;
width: 0;
position: absolute;
bottom: -5px;
right: 0;
transition: 0.2s all ease-in-out;
z-index: 7;

}

.titre-nav:hover:after {
width: 100%;
left: 0;
z-index: 7;

}

.header__burger {
display: none;
z-index: 7;


}

.header__burger svg {
stroke: #fff;
width: 70px;
height: 70px;
float: right;
right: 35px;
top: 12px;
position: absolute;
z-index: 7;
position: fixed;

}

.header__nav__close {
display: none;
}

@media screen and (max-width: 10500px) {

.header__burger {
    display: block;
    cursor: pointer;
    z-index: 8;

}


.header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100vh;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 8;

}

.header__nav.open {
    display: flex;
    animation: transformMenu 300ms ease-in-out forwards;
    z-index: 8;

}

@keyframes transformMenu {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: initial;
    }
}

.header__nav__menu {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 15%;
    z-index: 7;

}

.header__nav__menu__link {
    margin-right: 0;
    z-index: 7;

    margin-bottom: 20px;
}

.header__nav__menu__link a {
    font-size: 40px;
    left: 8%;
    z-index: 7;

}

.header__nav__close {
    display: block;
    z-index: 7;

    cursor: pointer;
    
}

.header__nav__close svg {
    stroke: #fff;
    width: 22px;
    z-index: 7;

    height: 22px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.overlay-menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    display: none;
    z-index: 7;

}

.overlay-menu-mobile.open {
    display: block;z-index: 7;

}

}
.ul{

  width: 250px;
  background-color: #999999;
  position: absolute;
  font-size: 1em;
  text-align: center;
  margin-top: 4%;
  z-index: 1;

}
.ul a{
  display: block;
  color: #1f1f1f;
  padding: 48px 60px;
  text-decoration: none;
  z-index: 1;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.ul li a:hover {
  background-color: rgba(245, 22, 22, 0.7);
  color: #fff;
}

  .icon {
    margin-right: 10px;
  }

/* **************** IMAGE PRINCIPALE ************* display: block;
  
    */
#imagePrincipale {
  padding-top: 460px;
  background: url(img/background/arriere1.png) no-repeat 60% 60%;
  background-size: cover;
  height: 199px;
}

#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: #191b21;
  box-shadow: 1px 3px 2px #191b21;
}
.h3 {
  text-align: center;
  color:antiquewhite;
  font-size: 3.2em;
  text-shadow: 1px 3px 2px black;
  
}

/* **************** TOURISME ********************** */


/* ******************* FOOTER ******************** */
p{
    color: #f1f2f6;
}
h5{
  font-style: italic;
  text-align: center;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}
#presentation {
  background-color: #f1f2f6;
  padding: 20px 0px 150px 0;
 
}
#texteIntro {
  padding: 70px 15%;
  font-size: 1em;
  font-style: oblique;
  font-family: 'Arial', cursive;
}
#prestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 20%;  
}
.imagesPrestations h5 {
  text-align: center;
  font-size: 1.4em;
  margin: 18px;
  font-weight: 300;
}
.imagesPrestations img {
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px rgba(245, 22, 22, 0.7);
  height: 245px;
  width: 805px;
  text-align: center;
}

.imagesPrestations img:hover {
  opacity: 0.5;
  transform: scale(1.05);
  transition: 0.6s ease-in-out;
}

.ecarlate{
  margin-left: -10px;
 display: flex;
 margin-top: 30px;
}
h6 {
  font-family: 'Dancing Script', cursive;
  color: #d6c224;
  font-size: 6em;
  margin-left: 1%;
  margin-top: 100px;
  text-shadow: 1px 3px 2px rgb(0, 0, 0);
  z-index: 3;
}
#titre{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #d6c224;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px rgb(0, 0, 0);
    margin-top: -35px;
  }


.violet{
  text-align: center;

}
.txt-violet {
  margin-left: 1000px;
  margin-top: -210px;
  text-transform: none;
  text-align: center;
  font-size: 1.3em;
  display: flex;
  height: 5px;
  margin: 30px -820px 2 0;
}
.txt-violet a {
  color: #d6c224;

}

#texte {
  color: #fff;
  font-size: 2.5em;
}

#lien{
  color: #fff;
}

#lien:hover {
  opacity: 0.3;
  transform: scale(1);
  transition: 0.4s ease-in-out;
}
.texte{
  color: #999999;
}
#textee{
  font-size: 1.5em;
  color: #999999;
}

/*----------------------------------------------------------------*/
.post-title.entry-title{
  font-size:420%;
 color: #c7c6c6;
 text-align: center;
}

.info{
  text-align: center;
  color: #999999;

}
span{
  color: #f1f2f6;
}

.mySlides{display: none;}
img{vertical-align: middle;}



#couleur{
background-color: lightgray;
color: lightgray;
}

#lien-image{
  z-index: 10;
}



.logo{
  float : left
}
* {box-sizing:border-box}

* {box-sizing:border-box}


.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}


.mySlides {
display: none;
}

.prev{
left: 10%;
}
.next{
margin-right: 10%;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 182%;
width: auto;
margin-top: -1px;
padding: 16px;
color: #ffffff;
font-weight: bold;
font-size: 38px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}


.next {
right: 0;
border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
background-color: rgba(197, 197, 197, 0.8);
color: #aaaaaa;
}


.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: left;
font-family: 'Rubik', sans-serif;
cursor: pointer;

}



.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}
hr.rounded{
border-top: 3px solid rgb(25 27 33);
border-radius: 5px;
size: 10px;
margin-top: 5%;
}

.trending{
  color: white;
  font-family: 'Rubik', sans-serif;

}

.column{
  float: left;
  width: 16.665%;
  padding: 5px;
  cursor: pointer;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

.A{
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
}

/**********/
